html {
  background: black;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0038FF), to(#6800ED));
  background-image: linear-gradient(to right bottom, #0038FF, #6800ED);
  font-family: Plus Jakarta Sans, sans-serif;
  color: white;
  letter-spacing: 0.3px;
}

body {
  margin: 0;
}

.pad {
  padding-bottom: 80px;
}

a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-family: Plus Jakarta Sans, sans-serif;
}

input {
  border: none;
  outline: none;
  font-family: Plus Jakarta Sans, sans-serif;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

button {
  border: none;
  outline: none;
  font-family: Plus Jakarta Sans, sans-serif;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  #navbar img {
    height: 30px;
    margin-top: 3px;
    margin-left: 25px;
  }
  #navbar #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    height: 50px;
    border-radius: 30px;
    padding: 0 10px;
  }
  #navbar #nav h2 {
    font-size: 15px;
    font-weight: 400;
    margin: 0 15px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #navbar #nav h2:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  #main {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#4801E5), to(#1342EC));
    background-image: linear-gradient(to right bottom, #4801E5, #1342EC);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 55px;
  }
  #box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40vw;
    padding: 0 3vw;
  }
  #box .big {
    font-size: 48px;
    line-height: 110%;
    font-weight: 400;
    margin-bottom: 20px;
  }
  #box .big span {
    font-weight: 800;
  }
  #box #rocket {
    position: relative;
    right: 35px;
    top: 25px;
    display: inline-block;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  #graphic {
    width: 70vw;
    margin: 2vw;
    padding-bottom: 30px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(255, 255, 255, 0.1);
  }
  #terms {
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #terms:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .sec {
    display: none;
  }
  .sec.terms {
    width: 95%;
    padding-top: 40px;
  }
  .sec.terms h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
  .sec.terms ul {
    width: 90%;
  }
  .sec.terms li {
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 200;
    line-height: 140%;
    font-size: 15px;
    letter-spacing: 0.3px;
  }
  .sec.terms p {
    width: 90%;
    margin-bottom: 40px;
    margin-top: 25px;
    font-weight: 200;
    line-height: 140%;
    font-size: 15px;
    letter-spacing: 0.3px;
  }
  .sec.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #typeform {
    width: 35vw;
    height: 400px;
    margin-top: 30px;
    margin-left: 5px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    overflow: hidden;
  }
  .form h1 {
    font-size: 15px;
    font-weight: 400;
    margin: 20px;
    margin-left: 0;
  }
  .form li {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.4px;
  }
  .form .field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 13px 15px;
    border-radius: 15px;
    margin-top: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .form .field h3 {
    margin: 0;
    margin-right: 10px;
  }
  .form .field h3.a {
    font-weight: 400;
    margin-bottom: 7px;
  }
  .form .field input {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.4px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 206, 0, 0);
    color: white;
    margin: 0;
    margin-bottom: 1px;
    width: 295px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .form .field:focus {
    border: 1px solid rgba(255, 206, 0, 0.5);
  }
  .form .msg {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #ff8e8e;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .form .msg.active {
    opacity: 1;
    visibility: visible;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 10px;
  }
  .form button {
    margin-top: 15px;
  }
  button {
    font-size: 18px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 0.4px;
    background: white;
    color: white;
    border-radius: 15px;
    width: 360px;
    margin-bottom: 15px;
    color: black;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  button:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  #video {
    width: 560px;
    height: 315px;
    background: black;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
  }
  .tagline {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .tagline h2 {
    text-align: center;
    width: 100%;
    font-size: 20px;
    line-height: 130%;
    font-weight: 300;
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
  }
  .tagline h2 span {
    font-weight: 700;
    color: white;
  }
  .tagline img {
    margin: auto;
    height: 70px;
  }
  .expo {
    width: 90%;
  }
  .expo h1 {
    font-size: 22px;
    margin: 30px 0 20px 0;
  }
  .expo .description p {
    margin: auto;
    margin-bottom: 15px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    line-height: 130%;
  }
  .expo .description p b {
    font-weight: 400;
  }
  .expo .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 15px;
  }
  .expo .row .num {
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-right: 15px;
  }
  .expo .row h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0;
    margin-top: 1px;
  }
  .action {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .action h2 {
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
  .brackets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brackets .bracket {
    text-align: center;
    margin: 15px;
  }
  .brackets .bracket .square {
    width: 120px;
    height: 120px;
    background: rgba(115, 93, 239, 0.4);
    border-radius: 15px;
    -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  }
  .brackets .bracket h1 {
    font-size: 16px;
    margin: 15px 0 3px 0;
  }
  .brackets .bracket h2 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
  }
  #container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #container #player {
    width: 560px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #container #player #guide {
    width: 560px;
    height: 315px;
    background: black;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
  }
  #container #player h1 {
    width: 100%;
    margin: 0;
    font-size: 22px;
    font-weight: 600;
  }
  #container #player p {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
  }
  #faq {
    min-height: 100vh;
  }
  #faq .questions {
    width: 80%;
    max-width: 800;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 100px;
    letter-spacing: 0.3px;
  }
  #faq .questions .big {
    font-size: 40px;
    margin-bottom: 0px;
  }
  #faq .questions h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-top: 40px;
  }
  #faq .questions li {
    font-size: 16px;
    line-height: 130%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #faq .questions b {
    font-weight: 600;
  }
  #faq .questions p {
    font-size: 16px;
    line-height: 130%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1000px) {
  #navbar {
    top: 0;
    left: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 60px;
    width: 100vw;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbar img {
    height: 25px;
    margin-top: 2px;
    z-index: 6;
    display: block;
    margin-left: 15px;
  }
  #navbar #nav {
    text-align: center;
    background: black;
    position: absolute;
    height: 0;
    overflow-y: hidden;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    opacity: 0;
    z-index: 3;
    top: 60px;
    width: 100vw;
  }
  #navbar #nav h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 30px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #navbar #nav h2:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  #navbar #nav.active {
    opacity: 1;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 25px;
    height: 200px;
  }
  #navbar #bars {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 12px;
    right: 15px;
    z-index: 3;
    width: 40px;
    height: 40px;
  }
  #navbar #bars .bar {
    margin: 6px;
    width: 30px;
    height: 2px;
    background: white;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #navbar #bars.x .one {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
  }
  #navbar #bars.x .two {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
  }
  #main {
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    padding-top: 30px;
  }
  #box .big {
    text-align: center;
    width: 90%;
    font-size: 40px;
    line-height: 45px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 40px;
  }
  #box .big span {
    font-weight: 800;
  }
  #graphic {
    padding-bottom: 30px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
  }
  #terms {
    cursor: pointer;
  }
  .sec {
    display: none;
  }
  .sec.terms {
    width: 95%;
  }
  .sec.terms h1 {
    margin: 0;
    padding-top: 40px;
    font-size: 20px;
    font-weight: 600;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .sec.terms li {
    margin: 30px;
    font-weight: 300;
    line-height: 130%;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .sec.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form h1 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .form li {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.4px;
  }
  .form .field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
    border-radius: 15px;
    width: 80vw;
    margin: auto;
    margin-top: 15px;
  }
  .form .field h3 {
    margin: 0;
    margin-right: 10px;
  }
  .form .field h3.a {
    font-weight: 400;
    margin-bottom: 7px;
  }
  .form .field input {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.4px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 206, 0, 0);
    color: white;
    margin: 0;
    margin-bottom: 1px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .form .field:focus {
    border: 1px solid rgba(255, 206, 0, 0.5);
  }
  .form .msg {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #ff8e8e;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .form .msg.active {
    opacity: 1;
    visibility: visible;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 10px;
  }
  .form button {
    margin-top: 15px;
  }
  button {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.4px;
    background: white;
    color: white;
    border-radius: 15px;
    padding: 15px 20px;
    width: calc(80vw + 40px);
    margin: auto;
    margin-bottom: 15px;
    color: black;
  }
  button:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  #video {
    width: 90vw;
    height: calc(90vw * 9/16);
    background: black;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
  }
  .tagline {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .tagline h2 {
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 130%;
    font-weight: 300;
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
  }
  .tagline h2 span {
    font-weight: 700;
    color: white;
  }
  .tagline img {
    margin: auto;
    height: 70px;
  }
  .expo {
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 0px 15px 25px 25px;
  }
  .expo h1 {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
  }
  .expo .description {
    width: 95%;
    margin: auto;
  }
  .expo .description p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 200;
  }
  .expo .description p b {
    font-weight: 500;
  }
  .expo .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 20px auto;
    width: 95%;
  }
  .expo .row .num {
    width: 30px;
    height: 30px;
    line-height: 28px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    font-weight: 500;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 0;
    margin-right: 15px;
  }
  .expo .row h2 {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0;
  }
  .action {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .action h2 {
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
  .brackets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brackets .bracket {
    text-align: center;
    margin: 15px;
  }
  .brackets .bracket .square {
    width: 120px;
    height: 120px;
    background: rgba(115, 93, 239, 0.4);
    border-radius: 15px;
    -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  }
  .brackets .bracket h1 {
    font-size: 16px;
    margin: 15px 0 3px 0;
  }
  .brackets .bracket h2 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
  }
  #container {
    width: 100vw;
    height: 100vh;
  }
  #container #player {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #container #player #guide {
    width: 100vw;
    height: calc(100vw * 9/16);
    background: black;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  #container #player h1 {
    width: 90%;
    margin: 0;
    font-size: 22px;
    font-weight: 600;
  }
  #container #player p {
    width: 90%;
    font-size: 16px;
    line-height: 140%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
  }
  #faq {
    min-height: 100vh;
  }
  #faq .questions {
    width: 90%;
    max-width: 800;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 100px;
    letter-spacing: 0.3px;
  }
  #faq .questions .big {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 0px;
  }
  #faq .questions h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-top: 30px;
  }
  #faq .questions li {
    font-size: 16px;
    line-height: 130%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #faq .questions b {
    font-weight: 600;
  }
  #faq .questions p {
    font-size: 16px;
    line-height: 130%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=challenge.css.map */